/* Style du header */
* {
    font-family: papyrus;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
}

/* Animation pour les boutons "Accueil" et "Ajouter" */
.btn-accueil,
.btn-ajouter,
.btn-supprimer {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn-accueil::before,
.btn-ajouter::before,
.btn-supprimer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skewX(45deg);
    transition: all 0.3s ease;
}

.btn-accueil:hover::before,
.btn-ajouter:hover::before,
.btn-supprimer:hover::before {
    left: 100%;
}

/* Style des formulaires */
form {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Encadrement des boutons "Accueil", "Ajouter" et "Supprimer" */
header .btn-accueil,
header .btn-ajouter,
header .btn-supprimer {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    background-color: transparent;
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

header .btn-accueil::before,
header .btn-ajouter::before,
header .btn-supprimer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transform: skewX(45deg);
    transition: all 0.3s ease;
}

header .btn-accueil:hover::before,
header .btn-ajouter:hover::before,
header .btn-supprimer:hover::before {
    left: 100%;
}

/* Style du tableau */
main {
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgba(76, 175, 80, 0.4);
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

/* Style du footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}