/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
}

header {
    background-color: #222;
    padding: 10px;
    color: #222;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
}

h1 {
    color: #ff0000;
    display: flex;
    justify-content: center;
}

/* Styles spécifiques à la page d'accueil */
.LogoLocAuto {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles spécifiques à la page Rechercher */

/* Styles spécifiques à la page Client */

/* Styles spécifiques à la page Informations Client */
.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 8px;
    border: 1px solid;
    color: #fff;
}

/* Styles spécifiques à la page Facturation */
